&::-webkit-scrollbar {
  width: 1rem;
}

&::-webkit-scrollbar-thumb {
  background: linear-gradient(#ffb703, #48cae4, #78c657, #9d4edd, #a68a64);
  border-radius: 12px;
}

/* backgrounds */

.bg_grass {
  background-color: #7ac74c;
}
.bg_fire {
  background-color: #ee8130;
}
.bg_water {
  background-color: #6390f0;
}
.bg_normal {
  background-color: #a8a77a;
}
.bg_poison {
  background-color: #a33ea1;
}
.bg_flying {
  background-color: #a98ff3;
}
.bg_fighting {
  background-color: #c22e28;
}
.bg_ground {
  background-color: #e2bf65;
}
.bg_rock {
  background-color: #b6a136;
}
.bg_bug {
  background-color: #a6b91a;
}
.bg_ghost {
  background-color: #735797;
}
.bg_steel {
  background-color: #b7b7ce;
}
.bg_electric {
  background-color: #f7d02c;
}
.bg_psychic {
  background-color: #f95587;
}
.bg_ice {
  background-color: #96d9d6;
}
.bg_dragon {
  background-color: #6f35fc;
}
.bg_dark {
  background-color: #705746;
}
.bg_fairy {
  background-color: #d685ad;
}
.bg_stellar {
  background-color: black;
}
